@charset "UTD-8";

@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor0: #DCD7C9;
    --cor1: #2C3639;
    --cor2: #252d30;
    --cor3: #242424;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Mouse Memoirs', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
    color: var(--cor0);
}

#logo{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

a{
    text-decoration: none;
    color: var(--cor0);;

}

.header{
    background-color: #1d1e20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

/*--------------------------------------------------------*/
#container {
    background-color: var(--cor2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin: 10px;
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    align-items: stretch;
    justify-content: flex-start;
    flex:1;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titulo{
    font-size: 36px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    order: -1;
    width: 100%;
    align-self: center;
    flex:1;
    margin: 10px 0;
    
}

.row{
    border-bottom: 1px dashed rgba(0, 0, 0, 0.459);
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: repeat(5, 1ft);
    padding: 10px 10px;
}

.row > div:nth-child(n+2){
    display: grid;
    grid-template-columns: 1fr;
}


.capa{
    height: 105px;
    width: 70px;

    background: url(../imagens/capas/6022e659a8e56external_cover.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    

    border: 2px solid rgb(255, 255, 255);
    border-end-end-radius: 10px;
    border-top-left-radius: 10px;
    border-end-start-radius: 10px;

    grid-row: 1/7;
}

.nome{
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
}
.cap{
    font-family: 'Source Code Pro', monospace;
    margin-left: 10px;
    margin-bottom: 10px;
}

.ncap{
    width: 150px;
    text-align: center;
    font-size: 30px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: bolder;
    color: var(--cor2);
    background-color: var(--cor0);


    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn{
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: bolder;
    background-color: var(--cor2);
    color: var(--cor0);

    border-radius: 10px 0 10px 10px;


    padding: 7px 30px;
    border: 1px solid white;
}

footer{
    margin-top: 30px;
    background-color: grey;
    text-align: center;
}
footer a{
    color: var(--cor0);
    font-weight: bolder;
    text-decoration: none;
}