@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

:root{
    --cor0: #DCD7C9;
    --cor1: #2C3639;
    --cor2: #252d30;
    --cor3: #242424;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Mouse Memoirs', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}


body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
    color: var(--cor0);
}


header{
    background-color: var(--cor3);
    min-width: 150px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;   
}
header h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

/* --------------------------------- NAV --------------------------------- */
nav{
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
    text-align: center;
}

nav > a{
    color: var(--cor0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;

}

nav#menu a:hover{
    background-color: var(--cor3);
    color: var(--cor1);
}

nav#menu a:visited{
    color: var(--cor0);
}
nav#menu a:active{
    color: var(--cor0);
}
nav#menu a:link{
    color: var(--cor0);
}

/* --------------------------------- MAIN --------------------------------- */

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--cor2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2{
    color: var(--cor5);
    font-family:var(--fonte-padrao);
    font-weight: normal;
    font-size: 1.8em;
    margin: 15px 0px;
}

main li{
    text-indent: 10px;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 1px;
}

main > li > a{
    text-decoration: none;
    color: white;
}

main > li > a:visited{
    color: rgb(206, 36, 36);
}

input{
    width: 50px;
    background-color: grey;
    color: var(--cor0);
    font-weight: bold;
    font-size: 1em;
}

footer{
    margin-top: 30px;
    background-color: grey;
    text-align: center;
}
footer a{
    color: var(--cor0);
    font-weight: bolder;
    text-decoration: none;
}